<div class="side-nav p-3 flex fixed">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="link-light link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="#"><i class='bx bx-user'></i>
        <span>Admin</span>
      </a>
    </li>

    <hr class="border border-danger border-2 ">

    <li class="nav-item">

      <a class="link-light link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="#"> <i class='bx bxs-dashboard'></i>
        <span>Dashboard</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="link-light link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="produtos" routerLink="/produtos"><i class='bx bx-package'></i>
       <span>Produtos</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="link-light link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="categorias" routeLink="/categorias" active><i class='bx bx-category'></i>
        <span>Categorias</span>
      </a>
    </li>

    <hr class="border border-danger border-2 ">

    <li class="nav-item">
      <a class="link-light link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="#" ><i class='bx bx-log-out-circle' ></i>
       <span>Log out</span>
      </a>
    </li>
  </ul>
</div>
