<div class="main align-center justify-content-center p-3">
  <a  class="link-dark " href="produtos" routerLink="/produtos">&LeftArrow; Back</a>

  <div class="flex-column">
    <div class="border-bottom rounded bg-light p-3 mt-2">
      <span class="text-danger fw-bold">Title</span>
      <p></p>
    </div>
    <div class="border-bottom rounded bg-light p-3 mt-2">
      <span class="text-danger fw-bold">Description</span>
      <p></p>
    </div>
    <div class="border-bottom rounded bg-light p-3 mt-2">
      <span class="text-danger fw-bold">Price</span>

      <p></p>
    </div>
  </div>
</div>
